---
layout: default
title: Home
---

{% assign sortedPosts = site.posts | sort: 'alphatitle,title' | reverse  %}
{% assign lastletter = "" %}

{% for post in sortedPosts %}
	{% if post.alphatitle %}
	    {% assign tmpletter = post.alphatitle | slice: 0 | upcase %}
    {% else %}
	    {% assign tmpletter = post.title | slice: 0 | upcase %}
    {% endif %}

    {% if tmpletter != lastletter %}
        <h2 style="margin: 24px 0 14px 0">{{ tmpletter }}</h2>
    {% endif %}

    <h5 style="margin-bottom: 14px"><a class="entry-link-from-index" href="{{ post.url }}">	{% if post.alphatitle %}{{ post.alphatitle }}{% else %}{{ post.title }}{% endif %}
</a></h5>

    {% assign lastletter = tmpletter %}

{% endfor %}

<p class="contribution-footer-index" style="margin-top: 30px">
Have an idea for a new entry? Email <a href="mailto:{{ site.email }}?subject=Suggestion%20for%20Three%20Sentence%20Philosophy"">{{ site.email }}</a> or <a href="https://github.com/threesentencephilosophy/threesentencephilosophy.github.io" target="_blank">submit a pull request on GitHub.</a>
</p>