--- 
layout: default 
---

<div class="entry">
    <header class="entry-header">
        <h1 class="entry-title">{{ page.title }}</h1>
    </header>
    <article class="entry-content">
        {{ content }}
    </article>
    <footer>
    	<p class="contribution-footer-entry" style="margin-top: 30px">
			Have a contribution, suggestion or edit? Email <a href="mailto:threesentencephilosophy@gmail.com?subject=Suggestion%20for%20Three%20Sentence%20Philosophy"">threesentencephilosophy@gmail.com</a> or <a href="https://github.com/threesentencephilosophy/threesentencephilosophy.github.io" target="_blank">submit a pull request on GitHub.</a>
		</p>
    </footer>
</div>